<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./assets/css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito&family=Poppins&family=Varela+Round&display=swap');

        .font-inter {
            font-family: 'Inter', sans-serif;
        }
        .font-nunito {
            font-family: 'Nunito', sans-serif;
        }
        .font-varela {
            font-family: 'Varela Round', sans-serif;
        }
    </style>
</head>
<body>
    <div class="relative overflow-hidden w-full h-screen">
        <img class="w-full object-bottom" src="https://img.freepik.com/free-vector/gradient-tropical-sunset-background_52683-131607.jpg?w=1060&t=st=1698570224~exp=1698570824~hmac=55af30b0f4b439a8353390916765033fa9870c8624c359f2bf2c684e616aee02" alt="">
        <div class="absolute top-0 left-0 w-full h-full bg-white/30 backdrop-blur-lg"></div>
        <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-black/90 via-white/0 to-black/50"></div>
        <div class="absolute bottom-0 left-0 w-full h-full flex items-end justify-center">
            <div class="bg-gradient-to-r from-red-500 to-orange-500 rounded-full blur-2xl w-80 h-80 translate-y-[50%] scale-150 opacity-50"></div>
        </div>
        <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center">
            <form action="" method="post" class="p-5 rounded-2xl bg-white w-1/3 shadow-2xl">
                <h1 class="flex items-center font-varela font-bold gap-2 text-amber-700 text-xl">
                    <img class="w-5 h-5" src="https://cdn-icons-png.flaticon.com/128/9653/9653944.png?ga=GA1.1.1610299679.1689303514&track=ais" alt="">
                    Sign in <span class="text-gray-700">into your Account</span>
                </h1>
                <hr class="opacity-0 my-5">
                <div class="flex divide-x-2 gap-4 items-center">
                    <div class="w-1/2">
                        <p class="font-nunito font-bold text-gray-700">
                            Username
                        </p>
                        <div class="relative group">
                            <div class="absolute top-0 left-0 w-10 h-full flex items-center justify-center">
                                <svg class="w-4 h-4 text-gray-500 group-hover:text-red-500 transition-all duration-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 14 18"><path d="M7 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9Zm2 1H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/></svg>
                            </div>
                            <input type="text" name="username" class="w-full rounded-lg font-varela outline-none bg-white pl-10 h-8 focus:bg-red-100/50 transition-all duration-300" required autocomplete="off" placeholder="Zxxxx">
                        </div>
                        <hr class="opacity-0 my-2">
                        <p class="font-nunito font-bold text-gray-700">
                            Password
                        </p>
                        <div class="relative group">
                            <div class="absolute top-0 left-0 w-10 h-full flex items-center justify-center">
                                <svg class="w-4 h-4 text-gray-500 group-hover:text-red-500 transition-all duration-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 20"><path d="M14 7h-1.5V4.5a4.5 4.5 0 1 0-9 0V7H2a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2Zm-5 8a1 1 0 1 1-2 0v-3a1 1 0 1 1 2 0v3Zm1.5-8h-5V4.5a2.5 2.5 0 1 1 5 0V7Z"/></svg>
                            </div>
                            <input type="password" name="username" class="w-full rounded-lg font-varela outline-none bg-white pl-10 h-8 focus:bg-red-100/50 transition-all duration-300" required autocomplete="off" placeholder="***">
                            <a onclick="" class="absolute top-0 right-0 w-10 h-full flex items-center justify-center">
                                <svg class="w-4 h-4 text-gray-500 hover:text-orange-500 transition-all duration-300 cursor-pointer" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 14"><path d="M10 0C4.612 0 0 5.336 0 7c0 1.742 3.546 7 10 7 6.454 0 10-5.258 10-7 0-1.664-4.612-7-10-7Zm0 10a3 3 0 1 1 0-6 3 3 0 0 1 0 6Z"/></svg>
                            </a>
                        </div>
                        <a href="" class="font-nunito font-bold text-gray-500 hover:text-red-500 text-sm">
                            Forgot Password?
                        </a>
                        <button class="w-full rounded-2xl border p-2 font-varela my-4 font-bold text-gray-500 flex items-center justify-center gap-2 group hover:bg-red-500 hover:border-gray-100/0 transition-all duration-300 hover:text-white focus:bg-red-700">
                            <svg class="w-4 h-4 text-gray-500 group-hover:text-white transition-all duration-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20"><path d="M15.077.019a4.658 4.658 0 0 0-4.083 4.714V7H2a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-1.006V4.68a2.624 2.624 0 0 1 2.271-2.67 2.5 2.5 0 0 1 2.729 2.49V8a1 1 0 0 0 2 0V4.5A4.505 4.505 0 0 0 15.077.019ZM9 15.167a1 1 0 1 1-2 0v-3a1 1 0 1 1 2 0v3Z"/></svg>
                            Sign in
                        </button>
                    </div>
                    <div class="w-1/2 h-full p-5 space-y-5">
                        <a class="w-full rounded-lg p-2 flex items-center justify-center border hover:border-gray-700 font-varela gap-2 font-bold text-sm text-gray-500 cursor-pointer hover:text-gray-700">
                            <img class="w-4" src="https://cdn-icons-png.flaticon.com/128/300/300221.png?ga=GA1.1.1610299679.1689303514&track=ais" alt="">
                            Sign in with Google
                        </a>
                        <a class="w-full rounded-lg p-2 flex items-center justify-center border hover:border-gray-700 font-varela gap-2 font-bold text-sm text-gray-500 cursor-pointer hover:text-gray-700">
                            <img class="w-4" src="https://cdn-icons-png.flaticon.com/128/174/174848.png?ga=GA1.1.1610299679.1689303514&track=ais" alt="">
                            Sign in with Facebook
                        </a>
                        <a href="/register" class="w-full rounded-lg p-2 flex items-center justify-center border hover:border-gray-700 font-varela gap-2 font-bold text-sm text-gray-500 cursor-pointer hover:text-gray-700">
                            <img class="w-4" src="https://cdn-icons-png.flaticon.com/128/304/304206.png" alt="">
                            Create a new account
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>