<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito&family=Poppins&family=Varela+Round&display=swap');

        .font-inter {
            font-family: 'Inter', sans-serif;
        }
        .font-nunito {
            font-family: 'Nunito', sans-serif;
        }
        .font-varela {
            font-family: 'Varela Round', sans-serif;
        }
    </style>
</head>
<body>
    <div class="relative overflow-hidden w-full h-screen">
        <img class="w-full object-bottom" src="https://img.freepik.com/free-vector/gradient-tropical-sunset-background_52683-131607.jpg?w=1060&t=st=1698570224~exp=1698570824~hmac=55af30b0f4b439a8353390916765033fa9870c8624c359f2bf2c684e616aee02" alt="">
        <div class="absolute top-0 left-0 w-full h-full bg-white/30 backdrop-blur-lg"></div>
        <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-black/90 via-white/0 to-black/50"></div>
        <div class="absolute bottom-0 left-0 w-full h-full flex items-end justify-center">
            <div class="bg-gradient-to-r from-red-500 to-orange-500 rounded-full blur-2xl w-80 h-80 translate-y-[50%] scale-150 opacity-50"></div>
        </div>
        <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center">
            <form action="" method="post" class="p-5 rounded-2xl bg-white w-1/3 shadow-2xl">
                <h1 class="flex items-center font-varela font-bold gap-2 text-amber-700 text-xl">
                    <img class="w-5 h-5" src="https://cdn-icons-png.flaticon.com/128/9653/9653944.png?ga=GA1.1.1610299679.1689303514&track=ais" alt="">
                    Verify <span class="text-gray-700">your Account</span>
                </h1>
                <hr class="opacity-0 my-5">
                <div class="flex gap-2 w-full">
                    <div class="w-1/2">
                        <p class="font-nunito tracking-tighter text-gray-700">
                            <span class="font-bold">kakangtea74@gmail.com</span>
                            <br>
                            Verification code for your registration has sent to your email. Please, kindly
                            check your email to confirm the verification.
                        </p>
                    </div>
                    <div class="w-1/2">
                        <form action="" method="post">
                            <input type="text" class="w-full px-5 tracking-tighter font-mono outline-none border rounded-lg text-center focus:border-gray-500 focus:bg-gray-100" placeholder="Insert here">
                            <div class="flex w-full justify-between gap-2 mt-2">
                                <a href="" class="font-inter w-auto tracking-tighter text-sm hover:text-rose-600">Send link.</a>
                                <button type="submit" class="p-1 rounded-lg flex items-center justify-center w-auto font-mono text-rose-600 border border-rose-500 hover:text-white hover:bg-rose-500 gap-2">
                                    <svg class="w-4 h-4 text-inherit" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 20"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 1v4a1 1 0 0 1-1 1H1m4 6 2 2 4-4m4-8v16a.97.97 0 0 1-.933 1H1.933A.97.97 0 0 1 1 18V5.828a2 2 0 0 1 .586-1.414l2.828-2.828A2 2 0 0 1 5.828 1h8.239A.97.97 0 0 1 15 2Z"/></svg>
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>